figure.welcome-image {
  top: -30%;
  right: 30%;
  position: absolute;
  transform: translate(50%, 50%);
}

div.manager {
  width: 100%;
  padding: 0 0 40px;
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
}
